################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

*.lock
.vs/
*.user
/cx.Utilities/obj/*
/cx.Utilities/bin/*
/cx.Mvc.Utilities/bin/*
/cx.Mvc.Utilities/obj/*
/packages
*.nupkg
/cx.Utilities.Core/bin/*
/cx.Utilities.Core/obj/*
